{{status,'brd_1@asus'},inactive,'brd_1@asus'}.
{{disk,'brd_1@asus'},disk,'brd_1@asus'}.
{{tellstick,'brd_1@asus'},tellstick,'brd_1@asus'}.
{{zone,'brd_1@asus'},varmdoe,'brd_1@asus'}.
{{status,'brd_2@asus'},inactive,'brd_2@asus'}.
{{[],'brd_2@asus'},[],'brd_2@asus'}.
{{zone,'brd_2@asus'},sthlm,'brd_2@asus'}.
