{{node_str,"node_worker1@asus"},{capabilities,[disk,tellstick]},{zone,"sthlm.lgh.room1"}}.
{{node_str,"node_worker2@asus"},{capabilities,[]},{zone,"sthlm.lgh.room2"}}.
{{node_str,"node_worker3@asus"},{capabilities,[tellstick]},{zone,"varmdeo.main.room2"}}.
{{node_str,"node_controller1@asus"},{capabilities,[]},{zone,"sthlm.lgh.room2"}}.
